/* Blog Section */
#blog {
  height: 100%;
  margin: 0 auto;
}

section .container {
  padding-top: 100px;
  padding-bottom: 50px;
  margin: auto;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}

section h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}